spring:
  application:
    name: prepovedia
  datasource:
    url: jdbc:postgresql://localhost:5432/bot
    username: user
    password: 123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
